<amds-card-section [isSectionActive]="false" sectionIcon="sex">
  <amds-section-title><u>S</u>EX</amds-section-title>
  <amds-section-detail>
    <amds-section-detail-item>
      <amds-section-detail-label matTooltip="Birth Sex"><u>S</u>EX</amds-section-detail-label>
      <amds-section-detail-text>Female</amds-section-detail-text>
    </amds-section-detail-item>
    <amds-section-detail-item>
      <amds-section-detail-label matTooltip="Self-Identified Gender Identity">SIGI</amds-section-detail-label>
      <amds-section-detail-text>Female</amds-section-detail-text>
    </amds-section-detail-item>
    <amds-section-detail-item>
      <amds-section-detail-label matTooltip="Sexual Orientation">SO</amds-section-detail-label>
      <amds-section-detail-text>Straight</amds-section-detail-text>
    </amds-section-detail-item>
    <amds-section-detail-item>
      <amds-section-detail-label matTooltip="Marital Status">MS</amds-section-detail-label>
      <amds-section-detail-text>Married</amds-section-detail-text>
    </amds-section-detail-item>
  </amds-section-detail>
  <amds-section-content>

  </amds-section-content>
</amds-card-section>