<amds-card borderColor="#104784" cardIcon="patient-card" titleText="Patient"
  subtitleText="She, Her, Hers | Chart # 9443 | ID# 12333" [isInitialSate]="false"
  initialStateMessage="No patient selected" [isInitializing]="isInitializing" [isLoading]="isLoading" [rows]="rows">
  <amds-card-actions>
    <button amds-card-button [matMenuTriggerFor]="patientCardMenu" buttonIcon="ellipsis-horizontal"
      matTooltip="More"></button>
    <mat-menu #patientCardMenu="matMenu" xPosition="before">
      <button mat-menu-item>
        <mat-icon>visibility_off</mat-icon>
        <span>Hide Card</span>
      </button>
    </mat-menu>
  </amds-card-actions>
  <amds-card-content>
    <div class="patient-header">
      <div class="patient-header-item">
        <div class="patient-status-active"></div>
        <span>Active</span>
      </div>
      <div class="patient-header-item">
        <span>She, Her, Hers</span>
      </div>
      <div class="patient-header-item">
        <span>Chart# 9443</span>
      </div>
      <div class="patient-header-item">
        <span>ID# 12333</span>
      </div>
    </div>

    <amds-patient-name [isExpanded]="isInitialState"></amds-patient-name>
    <amds-patient-identity [isExpanded]="isInitialState"></amds-patient-identity>
    <amds-patient-account [isExpanded]="isInitialState"></amds-patient-account>
    <amds-patient-address [isExpanded]="isInitialState"></amds-patient-address>
    <amds-patient-contact [isExpanded]="isInitialState"></amds-patient-contact>
    <amds-patient-gender [isExpanded]="isInitialState"></amds-patient-gender>
    <amds-patient-race [isExpanded]="isInitialState"></amds-patient-race>
    <amds-patient-financial [isExpanded]="isInitialState"></amds-patient-financial>

    <div style="text-align: right; margin-top: 16px;">
      <button mat-stroked-button color="primary" (click)="onSavePatient()">Save</button>
    </div>
  </amds-card-content>
</amds-card>