<amds-card borderColor="#104784" cardIcon="patient-card" titleText="Patient"
  subtitleText="She, Her, Hers | Chart # 9443 | ID# 12333" [isInitialSate]="isInitialState"
  initialStateMessage="No patient selected" [isInitializing]="isInitializing" [isLoading]="isLoading" [isActive]="isActive" [rows]="rows" (cardSelected)="onCardSelected()">
  <amds-card-actions>
    <button amds-card-button [matMenuTriggerFor]="patientCardMenu" buttonIcon="ellipsis-horizontal"
      matTooltip="More"></button>
    <mat-menu #patientCardMenu="matMenu" xPosition="before">
      <button mat-menu-item>
        <span>Delete Patient</span>
      </button>
      <button mat-menu-item>
        <span>Quick Add Mode</span>
      </button>
      <button mat-menu-item>
        <span>Audit Log</span>
      </button>
      <button mat-menu-item>
        <span>Hide Card</span>
      </button>
    </mat-menu>
  </amds-card-actions>
  <amds-card-content>
    <div class="patient-header">
      <button class="amds-card-button" style="margin-right: 8px;">
        <span class="amds-icon amds-icon-angle-down" style="color:#45668f;"></span>
        <span class="amds-icon amds-icon-angle-down" style="color:#45668f; transform: rotate(-180deg);"></span>
      </button>
      <div class="patient-header-item">
        <div class="patient-status-active"></div>
        <span>Active</span>
      </div>
      <div class="patient-header-item">
        <span>She, Her, Hers</span>
      </div>
      <div class="patient-header-item">
        <span>Chart# 9443</span>
      </div>
      <div class="patient-header-item">
        <span>ID# 12333</span>
      </div>
    </div>

    <amds-patient-name [isExpanded]="isInitialState || isEmptyState" [patientNames]="patient?.names"></amds-patient-name>
    <amds-patient-identity [isExpanded]="isInitialState || isEmptyState"></amds-patient-identity>
    <amds-patient-account [isExpanded]="isInitialState || isEmptyState"></amds-patient-account>
    <amds-patient-address [isExpanded]="isInitialState || isEmptyState"></amds-patient-address>
    <amds-patient-contact [isExpanded]="isInitialState || isEmptyState"></amds-patient-contact>
    <amds-patient-gender [isExpanded]="isInitialState || isEmptyState"></amds-patient-gender>
    <amds-patient-race [isExpanded]="isInitialState || isEmptyState"></amds-patient-race>
    <amds-patient-financial [isExpanded]="isInitialState || isEmptyState"></amds-patient-financial>

    <div style="text-align: right; margin-top: 16px;">
      <button mat-stroked-button color="accent" style="margin-right: 16px;" (click)="onSavePatient()">Cancel</button>
      <button mat-raised-button color="primary" (click)="onSavePatient()">Save</button>
    </div>
  </amds-card-content>
</amds-card>