<amds-card-section [isSectionActive]="false" sectionIcon="preferred-phone">
  <amds-section-title><u>C</u>ONTACT</amds-section-title>
  <amds-section-detail>
    <amds-section-detail-item>
      <amds-section-detail-label><u>C</u>ONTACT</amds-section-detail-label>
      <amds-section-detail-text>801-223-3245</amds-section-detail-text>
    </amds-section-detail-item>
    <amds-section-detail-item>
      <amds-section-detail-text>patriciap@gmail.com</amds-section-detail-text>
    </amds-section-detail-item>
  </amds-section-detail>
  <amds-section-content>

  </amds-section-content>
</amds-card-section>