<amds-card borderColor="#C30000" cardIcon="referrals-card" titleText="Referrals" subtitleText="8"
  [isInitializing]="isInitializing" [rows]="rows" [isEmptyState]="true" emptyStateMessage="No patient selected">
  <amds-card-actions>
    <button amds-card-button buttonIcon="plus-add" matTooltip="Add"></button>
    <button amds-card-button buttonIcon="filter" matTooltip="Filter"></button>
    <button amds-card-button buttonIcon="ellipsis-horizontal" matTooltip="More"></button>
  </amds-card-actions>
  <amds-card-content>
  </amds-card-content>
</amds-card>