<amds-card borderColor="#F59DCD" cardIcon="marketing-card" titleText="Marketing" subtitleText="1"
[isInitializing]="isInitializing" [rows]="rows" [emptyState]="true" emptyStateMessage="No patient selected">
<amds-card-actions>
  <button amds-card-button buttonIcon="plus-add" matTooltip="Add"></button>
  <button amds-card-button buttonIcon="filter" matTooltip="Filter"></button>
  <button amds-card-button buttonIcon="ellipsis-horizontal" matTooltip="More"></button>
</amds-card-actions>
<amds-card-content>

</amds-card-content>
</amds-card>