<amds-card-section [isExpanded]="isExpanded" sectionIcon="race-alt">
  <amds-section-title>RAC<u>E</u></amds-section-title>
  <amds-section-detail>
    <amds-section-detail-item>
      <amds-section-detail-label>RAC<u>E</u></amds-section-detail-label>
      <amds-section-detail-text>White</amds-section-detail-text>
    </amds-section-detail-item>
    <amds-section-detail-item>
      <amds-section-detail-label>ETHNICITY</amds-section-detail-label>
      <amds-section-detail-text>Not Hispanic</amds-section-detail-text>
    </amds-section-detail-item>
    <amds-section-detail-item>
      <amds-section-detail-label>LANGUAGE</amds-section-detail-label>
      <amds-section-detail-text>English</amds-section-detail-text>
    </amds-section-detail-item>
  </amds-section-detail>
  <amds-section-content>

  </amds-section-content>
</amds-card-section>