@use 'sass:math';
@import url('https://amds-dev-material.s3-us-west-2.amazonaws.com/prerelease/prereleases/12/latest/amds-icons/amds-icons.css');

$padding: 8px !default;
$border-color: #85a7ca !default;
$light-gray-color: #f5f5f5 !default;
$header-height: 30px !default;
$muted-gray-color: #cad1dd !default;
$default-button-color: #45668f !default;
$add-button-color: #41912b !default;
$card-min-height: 60px;
$card-min-width: 300px;
$skeleton-box-height: 24px;

.skeleton-container {
  padding: $padding;

  .skeleton-box {
    display: inline-block;
    height: $skeleton-box-height;
    // width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #F3F3F3;
    margin-bottom: 16px;

    &.skeleton-box-100 {
      width: 100%;
    }
  
    &.skeleton-box-85 {
      width: 85%;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
        90deg,
        rgba(#fff, 0) 0,
        rgba(#fff, 0.2) 20%,
        rgba(#fff, 0.5) 60%,
        rgba(#fff, 0)
      );
      animation: shimmer 2s infinite;
      content: '';
    }

    @keyframes shimmer {
      100% {
        transform: translateX(100%);
      }
    }
  }
}

// Custom resize handle
.gridster-item-resizable-handler.handle-se {
  cursor: se-resize;
  width: 10px;
  height: 10px;
  right: 0;
  bottom: 0;
  border-style: double;
  border-width: 0 2px 2px 0;
  border-color: transparent;
}

gridster-item:hover .gridster-item-resizable-handler.handle-se {
  border-color: #85A7CA !important;
}

.amds-card {
  display: block;
  position: relative;
  min-width: $card-min-width;
  min-height: $card-min-height;
  width: 100%;
  height: 100%;
  margin-bottom: 8px;

  .amds-card-colored-border {
    position: absolute;
    z-index: 1;
    top: -1px;
    left: -2px;
    height: 100%;
    width: 35px;
    border-left: 2px solid #888;
    border-color: #888 #888 currentcolor;
    border-top: 2px solid #888;
    pointer-events: none;
  }

  // Progress Bar 
  .mat-progress-bar {
    height: 2px !important;

    .mat-progress-bar-buffer {
      background-color: #fbe5bc;
    }

    .mat-progress-bar-fill::after {
      background-color: #ffa600;
    }
  }
}

// HEADER STYLES
.amds-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: $header-height;
  padding: 0 $padding 0 $padding;
  background-color: $light-gray-color;
  border-top-right-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: $border-color;
  border-bottom: none;
  border-left: none;

  /// ICON STYLES
  .amds-card-icon {
    width: 24px;
    height: 24px;
    background-size: 24px;
    background-repeat: no-repeat;
  }

  .amds-card-drag-icon {
    cursor: move;
    justify-content: center;
    align-items: center;
    height: 24px;
    min-width: 24px;
    max-width: 24px;
    display: none;
  }
  &:hover {
    .amds-card-drag-icon {
      display: flex;
    }
    .amds-card-icon {
      display: none;
    }
    // DEFAULT ACTION BUTTON COLOR
    button.amds-card-button:not(:disabled) i:not(.amds-icon-plus-add) {
      color: $default-button-color;
    }
    // PLUS ACTION BUTTON OVERRIDE
    button.amds-card-button:not(:disabled) i.amds-icon-plus-add {
      color: $add-button-color;
    }
  }
  .amds-card-icon {
    flex: 0 0 auto;
  }

  // HEADER TEXT STYLES
  .amds-card-header-text {
    margin: 0 8px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    .amds-card-title {
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
    }

    .amds-card-subtitle {
      margin-left: 8px;
      font-size: 13px;
      font-style: normal;
      font-weight: 300;
    }
  }
}

.amds-card-header::after {
  content: '';
  position: absolute;
  top: $header-height;
  right: 0;
  height: 15px;
  border-right: 1px solid $border-color;
  z-index: 99;
}

// CARD ACTIONS STYLES
.amds-card-actions {
  display: flex;
  justify-content: flex-end;
  margin-left: math.div(-$padding, 2);
  margin-right: math.div(-$padding, 2);
  padding: $padding 0;
}

// CARD BUTTON DEFAULT STYLE
button.amds-card-button {
  color: $muted-gray-color;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  font-size: 16px;
  min-width: 0;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

button.amds-card-button:disabled {
  cursor: default;
  color: $muted-gray-color !important;
}

// CARD BUTTON HOVER STYLE
button.amds-card-button:hover:not(:disabled) {
  background-color: $muted-gray-color;
}

// scroll content height override
.scroll-area {
  height: calc(100% - 30px) !important;
}

// CARD CONTENT STYLES
.amds-card-content {
  display: block;
  padding-top: $padding;
  padding-bottom: $padding;
  padding-left: calc($padding * 2);
  padding-right: calc($padding * 2);
}

// FIRST/LAST CHILD ADJUSTMENTS

// top els in amds-card-content and amds-card can't have their default margin-tops (e.g. <p> tags)
// or they'll incorrectly add to card's top padding
.amds-card > :first-child,
.amds-card-content > :first-child {
  margin-top: 0;
}

// last els in amds-card-content and amds-card can't have their default margin-bottoms (e.g. <p> tags)
// or they'll incorrectly add to card's bottom padding
.amds-card > :last-child:not(.amds-card-footer),
.amds-card-content > :last-child:not(.amds-card-footer) {
  margin-bottom: 0;
}

// actions panel on bottom should be 8px from bottom of card
// so must strip 16px from default card padding
.amds-card > .amds-card-actions:last-child {
  margin-bottom: -8px;
  padding-bottom: 0;
}

// actions panel should always be 8px from sides,
// so the first button in the actions panel can't add its own margins
.amds-card-actions {
  .amds-button,
  .amds-raised-button,
  .amds-stroked-button {
    &:last-child {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
