<span class="amds-card-colored-border" [style.border-color]="borderColor"></span>
<div class="amds-card-header">
  <span class="amds-icon amds-icon-dragndrop amds-card-drag-icon" title="Drag & drop"></span>
  <span class="amds-card-icon" [ngClass]="'amds-svg-' + cardIcon"></span>
  <span class="amds-card-header-text">
    <span class="amds-card-title">{{titleText}}</span>
    <span class="amds-card-subtitle">{{subTitleText}}</span>
  </span>
  <span style="flex-grow: 1;"></span>
  <ng-content select="amds-card-actions"></ng-content>
</div>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent" style="position: absolute;"></mat-progress-bar>
<div *ngIf="isInitializing" class="skeleton-container">
  <span class="skeleton-box"></span>
  <span class="skeleton-box"></span>
  <span class="skeleton-box"></span>
  <span class="skeleton-box"></span>
  <span class="skeleton-box"></span>
  <span class="skeleton-box"></span>
  <span class="skeleton-box"></span>
</div>
<ng-scrollbar *ngIf="!isInitializing" [autoHeightDisabled]="false">
  <ng-content></ng-content>
</ng-scrollbar>