<style>
  table {
    margin-left: 4px;
    border-spacing: 0;
  }

  table td {
    padding-left: 8px;
    padding-right: 8px;
  }

  table td+td {
    border-left: 1px solid black;
  }
</style>

<div style="text-align: center;">
  <button mat-raised-button color="primary" (click)="selectPatient()">Select Patient</button>
  <button mat-raised-button color="accent" (click)="deselectPatient()" style="margin-left: 16px;">Deselect
    Patient</button>
</div>
<br />
<gridster [options]="options">
  <gridster-item *ngFor="let item of items" [item]="item">
    <ng-container [ngSwitch]="item.id">
      <amds-patient-card *ngSwitchCase="'PAT'" [isInitialState]="isInitialState" [isInitializing]="isInitPatient"
        [isEmptyState]="isEmptyPatient" [isLoading]="isPatientLoading" [rows]="item.rows"></amds-patient-card>

      <amds-resp-party-card *ngSwitchCase="'RSP'" [isInitialState]="isInitialState" [isInitializing]="isInitRespParty"
        [rows]="item.rows"></amds-resp-party-card>

      <amds-insurance-card *ngSwitchCase="'INS'" [isInitialState]="isInitialState" [isInitializing]="isInitInsurance"
        [rows]="item.rows"></amds-insurance-card>

      <amds-care-team-card *ngSwitchCase="'CRT'" [isInitialState]="isInitialState" [isInitializing]="isInitCareTeam"
        [rows]="item.rows"></amds-care-team-card>

      <amds-referral-card *ngSwitchCase="'REF'" [isInitialState]="isInitialState" [isInitializing]="isInitReferral"
        [rows]="item.rows"></amds-referral-card>

      <amds-marketing-card *ngSwitchCase="'MRK'" [isInitialState]="isInitialState" [isInitializing]="isInitMarketing"
        [rows]="item.rows"></amds-marketing-card>
    </ng-container>
  </gridster-item>
</gridster>