<amds-card color="#104784">
  <amds-card-header icon="amds-svg-patient-card">
    <amds-card-title>Patient</amds-card-title>
    <amds-card-subtitle>She, Her, Hers | Chart # 9443 | ID# 12333</amds-card-subtitle>
    <amds-card-actions>
      <amds-card-button color="#2A5F91" icon="amds-icon-ellipsis-horizontal"></amds-card-button>
    </amds-card-actions>
  </amds-card-header>
  <amds-card-content>STUFF GOES HERE...</amds-card-content>
</amds-card>

<amds-card color="#915788">
  <amds-card-header icon="amds-svg-responsible-party-card">
    <amds-card-title>Resp Party</amds-card-title>
  </amds-card-header>
  <amds-card-content>STUFF GOES HERE...</amds-card-content>
</amds-card>

<amds-card color="#A83104">
  <amds-card-header icon="amds-svg-insurance-card">
    <amds-card-title>Insurance</amds-card-title>
    <amds-card-subtitle>3</amds-card-subtitle>
    <amds-card-actions>
      <amds-card-button color="#41912B" icon="amds-icon-plus-add"></amds-card-button>
      <amds-card-button color="#2A5F91" icon="amds-icon-filter"></amds-card-button>
      <amds-card-button color="#2A5F91" icon="amds-icon-ellipsis-horizontal"></amds-card-button>
    </amds-card-actions>
  </amds-card-header>
  <amds-card-content>STUFF GOES HERE...</amds-card-content>
</amds-card>