<amds-card color="#104784">
  <amds-card-header icon="patient-card">
    <amds-card-title>Patient</amds-card-title>
    <amds-card-subtitle>She, Her, Hers | Chart # 9443 | ID# 12333</amds-card-subtitle>
    <amds-card-actions>
      <button amds-card-button icon="ellipsis-horizontal" matTooltip="More"></button>
    </amds-card-actions>
  </amds-card-header>
  <amds-card-content>
    <div style="display: flex; align-items: center; padding: 2px;">
      <span class="amds-icon amds-icon-patient-name" style="margin-left: 8px; color: #45668F; font-size: 12px;"></span>
      <span style="margin-left: 8px; font-weight: 600; font-size: 14px; line-height: 12px;"><u>N</u>AME</span>
      <span style="margin-left: 4px; font-weight: 300; font-size: 14px; line-height: 12px;">Paula Smith | Pat Milly Smith</span>
    </div>
    <hr style="border-bottom: 3px solid #F3F3F3; border-top: none; border-left: none; border-right: none;"/>
    <div style="display: flex; align-items: center; padding: 2px; margin-top: 8px;">
      <span class="amds-icon amds-icon-date-of-birth" style="margin-left: 8px; color: #45668F; font-size: 12px;"></span>
      <span style="margin-left: 8px; font-weight: 600; font-size: 14px; line-height: 12px;"><u>D</u>OB</span>
      <span style="margin-left: 4px; font-weight: 300; font-size: 14px; line-height: 12px;">10/11/21 |</span>
      <span style="margin-left: 4px; font-weight: 600; font-size: 14px; line-height: 12px;">AGE</span>
      <span style="margin-left: 4px; font-weight: 300; font-size: 14px; line-height: 12px;">35Y |</span>
      <span style="margin-left: 4px; font-weight: 600; font-size: 14px; line-height: 12px;">SSN</span>
      <span style="margin-left: 4px; font-weight: 300; font-size: 14px; line-height: 12px;">5303</span>
    </div>
    <hr style="border-bottom: 3px solid #F3F3F3; border-top: none; border-left: none; border-right: none;"/>
    <div style="display: flex; align-items: center; padding: 2px; margin-top: 8px;">
      <span class="amds-icon amds-icon-key1" style="margin-left: 8px; color: #45668F; font-size: 12px;"></span>
      <span style="margin-left: 8px; font-weight: 600; font-size: 14px; line-height: 12px;">ACCO<u>U</u>NT</span>
      <span style="margin-left: 4px; font-weight: 300; font-size: 14px; line-height: 12px;">11334 |</span>
      <span style="margin-left: 4px; font-weight: 600; font-size: 14px; line-height: 12px;">BALANCE</span>
      <span style="margin-left: 4px; font-weight: 300; font-size: 14px; line-height: 12px; background-color: #FFC8C8;">$5,000</span>
    </div>
    <hr style="border-bottom: 3px solid #F3F3F3; border-top: none; border-left: none; border-right: none;"/>
    <div style="display: flex; align-items: center; padding: 2px; margin-top: 8px;">
      <span class="amds-icon amds-icon-address-o" style="margin-left: 8px; color: #45668F; font-size: 12px;"></span>
      <span style="margin-left: 8px; font-weight: 600; font-size: 14px; line-height: 12px;"><u>A</u>DDRESS</span>
      <span style="margin-left: 4px; font-weight: 300; font-size: 14px; line-height: 12px;">123 West Main Street, SunnyDale City Heights | +1</span>
    </div>
    <hr style="border-bottom: 3px solid #F3F3F3; border-top: none; border-left: none; border-right: none;"/>
    <div style="display: flex; align-items: center; padding: 2px; margin-top: 8px;">
      <span class="amds-icon amds-icon-preferred-phone" style="margin-left: 8px; color: #45668F; font-size: 12px;"></span>
      <span style="margin-left: 8px; font-weight: 600; font-size: 14px; line-height: 12px;"><u>C</u>ONTACT</span>
      <span style="margin-left: 4px; font-weight: 300; font-size: 14px; line-height: 12px;">801-223-3245 | patriciap@gmail.com</span>
    </div>
    <hr style="border-bottom: 3px solid #F3F3F3; border-top: none; border-left: none; border-right: none;"/>
    <div style="display: flex; align-items: center; padding: 2px; margin-top: 8px;">
      <span class="amds-icon amds-icon-sex" style="margin-left: 8px; color: #45668F; font-size: 12px;"></span>
      <span style="margin-left: 8px; font-weight: 600; font-size: 14px; line-height: 12px;"><u>S</u>EX</span>
      <span style="margin-left: 4px; font-weight: 300; font-size: 14px; line-height: 12px;">Female |</span>
      <span style="margin-left: 4px; font-weight: 600; font-size: 14px; line-height: 12px;">GENDER</span>
      <span style="margin-left: 4px; font-weight: 300; font-size: 14px; line-height: 12px;">Female |</span>
      <span style="margin-left: 4px; font-weight: 600; font-size: 14px; line-height: 12px;">ORIENTATION</span>
      <span style="margin-left: 4px; font-weight: 300; font-size: 14px; line-height: 12px;">Straight |</span>
      <span style="margin-left: 4px; font-weight: 600; font-size: 14px; line-height: 12px;">MARITAL STATUS</span>
      <span style="margin-left: 4px; font-weight: 300; font-size: 14px; line-height: 12px;">Married</span>
    </div>
    <hr style="border-bottom: 3px solid #F3F3F3; border-top: none; border-left: none; border-right: none;"/>
    <div style="display: flex; align-items: center; padding: 2px; margin-top: 8px;">
      <span class="amds-icon amds-icon-race-alt" style="margin-left: 8px; color: #45668F; font-size: 12px;"></span>
      <span style="margin-left: 8px; font-weight: 600; font-size: 14px; line-height: 12px;">RAC<u>E</u></span>
      <span style="margin-left: 4px; font-weight: 300; font-size: 14px; line-height: 12px;">- |</span>
      <span style="margin-left: 4px; font-weight: 600; font-size: 14px; line-height: 12px;">ETHNICITY</span>
      <span style="margin-left: 4px; font-weight: 300; font-size: 14px; line-height: 12px;">Not Hispanic |</span>
      <span style="margin-left: 4px; font-weight: 600; font-size: 14px; line-height: 12px;">LANGUAGE</span>
      <span style="margin-left: 4px; font-weight: 300; font-size: 14px; line-height: 12px;">English</span>
    </div>
    <hr style="border-bottom: 3px solid #F3F3F3; border-top: none; border-left: none; border-right: none;"/>
    <div style="display: flex; align-items: center; padding: 2px; margin-top: 8px;">
      <span class="amds-icon amds-icon-financial-class" style="margin-left: 8px; color: #45668F; font-size: 12px;"></span>
      <span style="margin-left: 8px; font-weight: 600; font-size: 14px; line-height: 12px;"><u>F</u>INANCIAL CLASS</span>
      <span style="margin-left: 4px; font-weight: 300; font-size: 14px; line-height: 12px;">SA |</span>
      <span style="margin-left: 4px; font-weight: 600; font-size: 14px; line-height: 12px;">EMPLOYER</span>
      <span style="margin-left: 4px; font-weight: 300; font-size: 14px; line-height: 12px;">AdvancedMD</span>
    </div>
  </amds-card-content>
</amds-card>

<amds-card color="#915788">
  <amds-card-header icon="responsible-party-card">
    <amds-card-title>Resp Party</amds-card-title>
  </amds-card-header>
  <amds-card-content>STUFF GOES HERE...</amds-card-content>
</amds-card>

<amds-card color="#A83104">
  <amds-card-header icon="insurance-card">
    <amds-card-title>Insurance</amds-card-title>
    <amds-card-subtitle>3</amds-card-subtitle>
    <amds-card-actions>
      <button amds-card-button icon="plus-add" matTooltip="No permission to add insurance" matTooltipDisabled="false" disabled="true" (click)="test()"></button>
      <button amds-card-button icon="filter" matTooltip="Filter" (click)="test()"></button>
      <button amds-card-button icon="ellipsis-horizontal" matTooltip="More"></button>
    </amds-card-actions>
  </amds-card-header>
  <amds-card-content>STUFF GOES HERE...</amds-card-content>
</amds-card>

<amds-card color="#5F5791">
  <amds-card-header icon="care-team-card">
    <amds-card-title>Care Team</amds-card-title>
  </amds-card-header>
  <amds-card-content>STUFF GOES HERE...</amds-card-content>
</amds-card>

<amds-card color="#C30000">
  <amds-card-header icon="referrals-card">
    <amds-card-title>Referrals</amds-card-title>
    <amds-card-subtitle>8</amds-card-subtitle>
    <amds-card-actions>
      <button amds-card-button icon="plus-add" matTooltip="Add" (click)="test()"></button>
      <button amds-card-button icon="filter" matTooltip="Filter" (click)="test()"></button>
      <button amds-card-button icon="ellipsis-horizontal" matTooltip="More"></button>
    </amds-card-actions>
  </amds-card-header>
  <amds-card-content>STUFF GOES HERE...</amds-card-content>
</amds-card>

<amds-card color="#F59DCD">
  <amds-card-header icon="marketing-card">
    <amds-card-title>Marketing</amds-card-title>
    <amds-card-subtitle>1</amds-card-subtitle>
    <amds-card-actions>
      <button amds-card-button icon="plus-add" matTooltip="Add" (click)="test()"></button>
      <button amds-card-button icon="filter" matTooltip="Filter" (click)="test()"></button>
      <button amds-card-button icon="ellipsis-horizontal" matTooltip="More"></button>
    </amds-card-actions>
  </amds-card-header>
  <amds-card-content>STUFF GOES HERE...</amds-card-content>
</amds-card>