<amds-card borderColor="#915788" cardIcon="responsible-party-card" titleText="Resp Party"
  [isInitialSate]="isInitialState" initialStateMessage="No patient selected" [isInitializing]="isInitializing"
  [rows]="rows" [isEmptyState]="true" emptyStateMessage="No data">
  <amds-card-actions>
    <button amds-card-button [matMenuTriggerFor]="respPartyCardMenu" buttonIcon="ellipsis-horizontal"
      matTooltip="More"></button>
    <mat-menu #respPartyCardMenu="matMenu" xPosition="before">
      <button mat-menu-item>
        <mat-icon>visibility_off</mat-icon>
        <span>Hide Card</span>
      </button>
    </mat-menu>
  </amds-card-actions>
  <amds-card-content>
  </amds-card-content>
</amds-card>