<amds-card-section [isExpanded]="isExpanded" sectionIcon="financial-class">
  <amds-section-title><u>F</u>INANCIAL CLASS</amds-section-title>
  <amds-section-detail>
    <amds-section-detail-item>
      <amds-section-detail-label><u>F</u>INANCIAL CLASS</amds-section-detail-label>
      <amds-section-detail-text>SA</amds-section-detail-text>
    </amds-section-detail-item>
    <amds-section-detail-item>
      <amds-section-detail-label>EMPLOYER</amds-section-detail-label>
      <amds-section-detail-text>AdvancedMD a Global Payments Company</amds-section-detail-text>
    </amds-section-detail-item>
  </amds-section-detail>
  <amds-section-content>

  </amds-section-content>
</amds-card-section>