@import url("https://amds-dev-material.s3-us-west-2.amazonaws.com/prerelease/prereleases/12/latest/amds-icons/amds-icons.css");

body {
  font-family: "Open Sans";
  margin: 0;
  padding: 30px;
}

html, body {
  height: 100%;
}
